body {
	background-image:url("C:\Users\fernando.lima\Desktop\testegit\estudobase\imgs/ecommerce.jpg");
	/*margin-right: 200px;
	/*background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: right top;*/

}