body {
	background-image:url("C:/Users/fernando.lima/Desktop/testegit/estudobase/imgs/ecommerce.jpg");
	margin-right: 150px;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: right bottom;
	background-color: #f1f1f1;
	color: black;
	font-family:'Work Sans', sans-serif;
	font-size:1em;
	padding:10px;
} 
/*CSS BARRA DE NAVEGAÇÃO*/
ul.navigationbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	width:100%
}
.estilopradireita{
	float: right;
}
li{
	float:left;
}
#letrapreta{
	color:black;
}
li a, .dropbtn{
	display:inline-block;
	padding: 14px 16px;
	color: white;
	text-align: center;
}
li a:hover .dropdown:hover .dropbtn{
	background-color: #f9f9f9;
}
li.dropdown{
	display:inline-block;
}
li a:visited, a:hover{
	color:#f9f9f9;
}
#letrapreta{
	color:black;
}
.navconteudo{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	color:black;
}
.navconteudo a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.navconteudo a:hover {
	background-color: #f1f1f1
}
li a:hover{
	background-color: #f9f9f9;
	color:black;
}
.dropdown:hover .navconteudo{
	display:block;
}

.ativo{
	background-color:#ff8d1a;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Josefin Sans', "Times New Roman", sans-serif;
}
h3{
	text-align: right;
}
.tituloscabecario {
	padding:30px;
	text-align: center;
	background: white;
	background-image: linear-gradient(to bottom right, white, #ff8c1a3c);
}
div.tituloscabecario h1{
	font-size:75px;
	font-style: normal;
}
.quadros{
	background: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 15px 50px 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clearfix{
	overflow: auto;
}
.introducao h2{
	text-align: center;
}
.introducao{
	font-size: 1.2em;
}
.conteudo h4{
	text-align: right;
}
.conteudo p {
	text-align: center;
}
.tabela th, td {
    text-align: center;
	padding: 8px;
	border: 1px solid #ddd;
	color:black;
	width: 100%;
}
.tabela tr:nth-child(even){
	background-color: #f2f2f2;
}
.tabela tr:hover{
	background-color:#ddd;
}
.tabela th{
	padding-top:12px;
	padding-bottom:12px;
	background-color: #ff8c1a;
}
.tabela{
	background-color:white;
	color:black;
	display:none;
	border-collapse: collapse;
	width: 100%;
}
.qtabela:hover .tabela {
	 display: block;
}
.qtabela:hover, .qtabela a:hover {
	color:#ff8c1a;
}
.qtabela{
	font-size:16px;
	text-align:center;
	color:white;
	background-color: black;
	border: solid 1px #333;
	margin: auto;
}
.caracespeciais h2{
	text-align: left;
}
.caracespeciais{
	text-align: center;
}
.citacao em{
	text-align: right;
	font-size:20px;
}
.citacao p{
	text-align :right;
}
.abreviar{text-decoration: none;}
.abreviar:hover{
	cursor:pointer;
} 

.outros{
	font-size:115%;
}
.transicao{
	background-image: url("C:/Users/fernando.lima/Desktop/testegit/estudobase/imgs/clouds.jpg");
	background-size: cover;
	width: 318px;
	height: 159px;
	transition: width 1s, height 1s;
	transition-duration: 3s;
	transition-delay: 7s;
}
.transicao:hover{
	width: 299px;
	height: 168; 
	background-image: url("C:/Users/fernando.lima/Desktop/testegit/estudobase/imgs/space.jpg");

}
.animacao{
    background-image: url("C:/Users/fernando.lima/Desktop/testegit/estudobase/imgs/clouds.jpg");
	background-size: cover;
	width: 150px;
	height: 150px;
	position: relative;
    -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	animation-name: example;
    animation-duration: 5s;    
    animation-fill-mode: forwards;  
}
@keyframes example {
    from {left: 0px;}
	to {
		left: 400px;
		background-image: url("C:/Users/fernando.lima/Desktop/testegit/estudobase/imgs/space.jpg");
	}
}
.divanimacao{
    background-image: url("C:/Users/fernando.lima/Desktop/testegit/estudobase/imgs/clouds.jpg");
	background-size: cover;
	width: 150px;
	height: 150px;
	position: relative;
    -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */     /* Safari 4.0 - 8.0 */
	animation-name: example2;
	animation-direction: alternate;
    animation-duration: 5s;    
    animation-iteration-count: infinite; 
}
@keyframes example2 {
    from {left: 0px;}
	to {
		left: 800px;
		background-image: url("C:/Users/fernando.lima/Desktop/testegit/estudobase/imgs/space.jpg");
	}
}
	
.logoacupula {
	height: 450px;
	width:  450px;
	border:none;
	margin-left:auto;
	margin-right: auto;
	display: block;
	max-width:100%;
	max-height:100%;
}
#empresa{
	letter-spacing:2px;
	font-size:1.3em;
	text-align: center;	
}

#empresa a, a:visited {
	color:black;	
}
#empresa a:hover{
	color:black;
}
#fotos{
	opacity: 0.4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
#fotos:hover{opacity: 1.0;}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
	width: 180px;
	overflow:auto;
	box-sizing: border-box;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
	height: auto;
	overflow:auto;
}

div.desc {
    padding: 15px;
	text-align: center;
	overflow: auto;
}
.tamanhomapa{
	width:400px;
	height:400px;
	text-align: center;
	transition: width 2s, height 2s;
	transition-timing-function: ease-in;
}
.tamanhomapa:hover{
	width:100%;
	height:700px;
}
.listaapi h1{
	font-size: 45px;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #ff8c1a;
	border-radius: 7px;
	padding:10px;
	text-shadow: 2px 2px 4px #ff8c1a3c;
}
.listaapi p {
	text-align: center;
}
#arrastar, #largar {
	float: left;
	max-width: 100px;
	height: 35px;
	margin: 10px;
	padding: 10px;
   border: 1px solid black;
}
blockquote {
	text-align:center; color:DodgerBlue;
}
a {
	text-decoration: none;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], [ type=reset], [type=file] {
    width: 49%;
    background-color: #ff8d1a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, [type=reset]:hover, [type=file]:hover {
    background-color: #ff8d1abe;
}
input[type=text]:focus {
    border: 3px solid #555;
}
input[name="googlesearch"] {
    background-image: url('C:Users/fernando.lima/Desktop/testegit/estudobase/imgs/searchicon.png');
	width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
img {
    max-width: 100%;
    height: auto;
}
.tooltip {
    display: inline-block;
	border-bottom: 1px dotted black;
	position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
	transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.container {
	position: relative;
	width: 50%;
  }
  
  .image {
	display: block;
	width: 100%;
	height: auto;
  }
  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
  }
  
  .container:hover .overlay {
	opacity: 1;
  }
	* {
		box-sizing: border-box;
	}
  
  .text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.calc input[type=text], .calc input[type=submit], .calc input[type=text], .calc select
{
	width: 32%;
}
/*clear fix hack doidera usado pra consertar overflow de imagem q e maior que o div
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}*//*